.dropdown select{
    width: 180px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius:18px;
    display: flex;
    text-align: center;
    flex-direction: row;
    font-size: 20px;
    background-color: azure;
    cursor: pointer;
}