.questionCard{
    width: 100%;
    max-width: 700px;
    
}

.questionCard-title{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.questionCard button{
    width: 48%;
    height: 40px;
    margin: .3rem;
    font-size: 17px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
}

.questionCard button:hover{
    background-color: aqua;
    font-weight: bold;
}

.questionCard-timer {
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
    color: green;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}